<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  	<canvas id="drawing" width="1150" height="650"></canvas>
  	<!-- <img id="cartoon" src="<%= htmlWebpackPlugin.options.imgUrl %>" alt="cartoon"> -->

  	<!-- 标记栏 -->
	<div id="control-panel">
		<a class="pin-click" data-shape-type="dot" href="javascript:void(0)" style="top:0;" >
			<div class="btn-pin" data-shape-type="dot"></div>
		</a>
		<a class="rect-click" data-shape-type="rect" href="javascript:void(0)" style="top:80px;">
			<div class="btn-rect" data-shape-type="rect"></div>
		</a>
		<a class="ellipse-click" data-shape-type="circle" href="javascript:void(0)" style="top:160px;">
			<div class="btn-ellipse" data-shape-type="circle"></div>
		</a>
		<a class="line-click" data-shape-type="arrow" href="javascript:void(0)" style="top:240px;">
			<div class="btn-line" data-shape-type="arrow"></div>
		</a>
		<a class="save-click" data-shape-type="save" href="javascript:void(0)" style="top:320px;">save</a>
	</div>

	<!-- 滤镜栏 -->
	<ul id="filter-panel">
		<a class="filter" data-filter-type="GRAY" href="javascript:void(0)" style="display: inline-block; width: 30px; height: 30px; background: #dedede">
			<div data-filter-type="GRAY"></div>
		</a>
	</ul>
  </body>
</html>